body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.wrapper {
  display: flex;
  gap: 12px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.card-success {
  background: #20c997;
  font-weight: 600;
}

.card-header {
  padding: 0 24px;
}

.card-body {
  padding: 0px 24px 24px 24px;
}

.log-viewer {
  background: #1e1e1e;
  color: #fff;
  padding: 10px;
  height: 500px;
  overflow-y: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.log-viewer pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.list-port {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#item {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.section-legend {
  margin-top: 12px;
  display: flex;
  gap: 24px;
  align-items: center;
}

.item-legend {
  display: flex;
  gap: 8px;
  align-items: center;
}

.api-method {
  padding: 12px;
  height: 100%;
  border-radius: 8px;
}

.api-method.GET {
  background-color: turquoise;
  cursor: pointer;
}

:hover.api-method.GET {
  background-color: aquamarine;
}

.api-method.POST {
  background-color: greenyellow;
}

.api-method.PUT {
  background-color: orange;
}

.api-method.DELETE {
  background-color: orangered;
}